{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [
    rebar3_bench,
    {rebar3_benchmem, {git, "https://github.com/Yozhig/rebar3_benchmem.git", {tag, "0.0.1"}}}
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unknown
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [eunit]}
]}.

{xref_ignores, [
    {rconv, to_map, 2},
    {rconv, to_clean_map, 3},
    {rconv, from_map, 2},
    {rconv, parse_transform, 2}
]}.
